<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get currency</title>
</head>
<body>
<main>
    <div class="get-rates-form">
        <label>
            Date from:
            <input type="date" id="date-from-input"/>
        </label>
        <label>
            Date to:
            <input type="date" id="date-to-input"/>
        </label>
        <button id="confirm-btn" type="submit">Get</button>
    </div>
</main>
</body>
<style>
    main {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .get-rates-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 20%;
    }

    .get-rates-form label {
        padding: 10px;
    }

    label {
        display: flex;
        justify-content: space-between;
    }

</style>

<script>
    let dateFrom = document.querySelector('#date-from-input')
    let dateTo = document.querySelector('#date-to-input')
    let confirmBtn = document.querySelector('#confirm-btn')

    const renderTable = (data) => {
        // TODO
    }

    confirmBtn.addEventListener('click', async () => {
        let data = {
            "date-from": dateFrom.value,
            "date-to": dateTo.value
        }

        let response = await fetch("http://127.0.0.1:5000/get/rates", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(data)
        })

        if (response.ok) {
            renderTable(response.json())
        }
    })
</script>
</html>