<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show currency rates</title>
</head>
<body>
<main>
    <a href="/">Get rates</a>
    <div class="options-form">
        <label>
            Currency:
            <select id="currency-filter">
                <option></option>
                <option>All</option>
                <option>AUD</option>
                <option>AZN</option>
                <option>GBP</option>
                <option>AMD</option>
                <option>BYN</option>
                <option>BGN</option>
                <option>BRL</option>
                <option>HUF</option>
                <option>HKD</option>
                <option>DKK</option>
                <option>USD</option>
                <option>EUR</option>
                <option>INR</option>
                <option>KZT</option>
                <option>CAD</option>
                <option>KGS</option>
                <option>CNY</option>
                <option>MDL</option>
                <option>NOK</option>
                <option>PLN</option>
                <option>RON</option>
                <option>XDR</option>
                <option>SGD</option>
                <option>TJS</option>
                <option>TRY</option>
                <option>TMT</option>
                <option>UZS</option>
                <option>UAH</option>
                <option>CZK</option>
                <option>SEK</option>
                <option>CHF</option>
                <option>ZAR</option>
                <option>KRW</option>
                <option>JPY</option>
            </select>
        </label>
        <div id="sort-params">
            <label>
                Sort by:
                <select id="sort_by-select">
                    <option></option>
                    <option>Date from</option>
                    <option>Date to</option>
                </select>
            </label>
            <label>
                <select id="order-select">
                    <option>ascending</option>
                    <option>descending</option>
                </select>
            </label>
        </div>
        <label>
                Date from:
                <input type="date" id="date-from-input"/>
            </label>
            <label>
                Date to:
                <input type="date" id="date-to-input"/>
            </label>
        <button id="confirm-btn" type="submit">Get</button>
        <p id="message"></p>
    </div>
    <div id="result-tables">

    </div>
</main>
</body>
<style>
    main {
        margin: 0 auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .options-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10% auto 0;
        min-width: 20%;
        max-width: 40%;
    }

    .options-form label {
        padding: 10px;
    }

    #confirm-btn {
        margin-top: 10px;
    }

    #message {
        display: none;
    }

    #result-tables {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #result-tables > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #result-tables > div > table {
        margin-top: 10px;
        border-collapse: collapse;
        border: 1px solid black;
    }

    #result-tables > div > th, td {
        border-collapse: collapse;
        border: 1px solid black;
    }
</style>

<script>
    let currency = document.querySelector('#currency-filter')
    let sortBy = document.querySelector('#sort_by-select')
    let order = document.querySelector('#order-select')

    let dateFrom = document.querySelector('#date-from-input')
    let dateTo = document.querySelector('#date-to-input')

    let confirmBtn = document.querySelector('#confirm-btn')
    let messageField = document.querySelector('#message')

    let tables = document.querySelector('#result-tables')

    const generateInformation = (table, data) => {
        for (let block in data) {
            let row = table.insertRow()
            for (let key in data[block]) {
                let cell = row.insertCell()
                let text = document.createTextNode(data[block][key])
                cell.appendChild(text)
            }
        }
    }

    const renderTables = (data) => {
        for (let entry of data) {
            let container = document.createElement('div')
            let header = document.createElement('h3')
            let table = document.createElement('table')

            header.innerHTML = entry["date"]

            container.appendChild(header)
            container.appendChild(table)
            tables.appendChild(container)

            let thead = table.createTHead()
            let row = thead.insertRow()

            for (let key in entry["data"][0]) {
                let th = document.createElement("th")
                let text = document.createTextNode(key)

                th.appendChild(text)
                row.appendChild(th)
            }

            generateInformation(table, entry["data"])
        }
    }


    confirmBtn.addEventListener('click', () => {
         while (tables.lastElementChild) {
            tables.removeChild(tables.lastElementChild)
        }

        let params = new URLSearchParams({
            "filter": currency.value,
            "sort_by": sortBy.value,
            "order": order.value == "ascending" ? 1 : -1,
            "date-from": dateFrom.value,
            "date-to": dateTo.value
        })

        fetch('/rates?' + params)
            .then(response => {
                if (response.ok) {
                    response.json().then(data => {
                        console.log(data)
                            messageField.style.display = 'none'

                            for (let entry of data) {
                                let header = document.createElement('h2')
                                let name = entry["date-from"] + "|" + entry["date-to"] + "|" + entry["currency"]
                                header.innerHTML = name
                                tables.appendChild(header)

                                renderTables(entry["entries"])
                                tables.appendChild(document.createElement('hr'))
                            }
                    })
                } else {
                    response.json().then(data => {
                        messageField.style.display = 'block'
                        messageField.innerHTML = data["detail"]
                    })
                }
            })
    })

</script>
</html>